/*COLORS*/
$white: #fff;
$black: #000;
$gainsboro: #dcdcdc;
$whitesmoke: #eee;
$gainsboro: #e5e5e5;
$gray: #626262;
$lightgrey: #f5f5f5;
$darkgray: #898989;
$dodgerblue: #3498db;
$royalblue: #3397db;
$lightBlack: #313131;
$jumbotronBackground: #484848;
