.b-article {
  @include responsive($breakpoint-xs) {
    margin-top: 0;
    margin-bottom: 15px;
  }
  font-family: $Lato;
  margin-top: 20px;
  margin-bottom: 20px;
  &__header {
    @include responsive($breakpoint-xs) {
      padding-right: 5%;
      padding-left: 5%;
    }
    //border: 1px solid red;
    display: flex;
    justify-content: flex-start;
  }
  &__tag {
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
    text-transform: uppercase;
    &::after {
      display: block;
      width: 70px;
      height: 5px;
      margin-top: 10px;
      content: "";
      background-color: $white;
    }
  }
  &__all {
    font-size: 12px;
    margin-top: 20px;
    padding-left: 10%;
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    &:hover {
      text-decoration: underline;
    }
  }
  &__figure {
    margin: 6px 0 0;
  }
  &__img {
    font-family: "object-fit: cover;";
    //display: block;
    //max-width: 100%;
    //height: auto;
    width: 100%;
    height: 140px;
    object-fit: cover;
    //@include responsive($breakpoint-xs){
    //  width: 100%;
    //}
  }
  &__content {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 21px;
    background-color: $white;
  }
  &__title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
    color: $dodgerblue;
  }
  &__lnk {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 5px;
    text-decoration: none;
    color: $dodgerblue;
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      transition: transform 0.5s ease;
      transform: translateX(-110%);
      background: $dodgerblue;
    }
    &:hover:before {
      transform: translateX(0);
    }
    &:hover:before {
      transform: translateX(0);
    }
  }
  &__text {
    font-size: 14px;
    line-height: 22px;
    margin-top: 5px;
    color: $lightBlack;
  }
  &__more {
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    &:hover {
      text-decoration: underline;
    }
  }
}
