.l-footer {
  background-color: $lightBlack;
}
.b-footer {
  @include responsive($breakpoint-sm) {
    padding: 15px 5%;
  }
  @include responsive($breakpoint-xs) {
    padding: 15px 5%;
  }
  @include responsive($breakpoint-lg) {
    padding-top: 42px;
    padding-right: 0;
    padding-bottom: 100px;
    padding-left: 0;
  }
  font-family: $Lato;
}
